header
{
    position: fixed;
    width: 100%;
    top:0px;
    background-color:royalblue
}
.move{
    float:right;

}
nav{
   
    top:22;
    left:70%;
    list-style:none;
    position:fixed;
    overflow:hidden;
    text-transform: capitalize;
   
    
}
li a{

    text-decoration:underline;
    color:white;
}
li
{
    display:inline;
   
}
.addspace
{
    margin-top: 10%;
}
section a{
    text-decoration:none;
  
   color:black;

}
h1{
    margin-left:60px;
    font-family: Helvetica, sans-serif;
    color:white;
    margin-top:20px;
}
h2{
    color:blue;
}
p{
     margin-top:0;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 15px;
}
.card {
   
    /* Add shadows to create the "card" effect */
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card hover{
    box-shadow: 0 8px 16px 0 rgba(88,83,83);
}
.card img{
  
        border-radius: 5px 5px 0 0;
    
}
ul{
  margin-left:12%;
    list-style: none;
}
.incfooter
{
    background-color: rgb(129, 124, 124);
    padding-top: 5px;
    padding-bottom: 1px;
}
footer{
    background-color:royalblue;
    text-decoration: none;
    

}




